$base-col: #4055a1;
$title-text-col: #ffffff;
$background-col: #f4f1ec;

.new-tweet {
  width: 98%;
  align-self: center;
  margin-top: 24px;
  margin-bottom: 24px;

  .form .submit-counter {
    display: flex;
    justify-content: space-between;
  }

  .form textarea {
    border: none;
    border-bottom: 4px solid grey;
    background-color: $background-col;
    outline: none;
    width: 100%;
    height: 48px;
    margin-top: 24px;
  }

  .form textarea::placeholder {
    font-weight: bold;
  }

  button {
    background-color: $base-col;
    color: $title-text-col;
    font-family: Bungee, sans-serif;
    font-size: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .counter {
    font-family: Bungee, sans-serif;
  }

  .error-message {
    color: #af0a0a;
    margin: auto;
    width: fit-content;
    margin-top: 24px;
    text-align: center;
    border: solid 2px darkred;
    font-size: 16px;
    padding: 8px;
  }
}
