.nav-bar {
  color: #ffffff;
  background: #4055a1;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar.hide {
  display: none;
}

.nav-logo {
  font-family: Bungee, sans-serif;
}

.nav-write {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form-toggle {
  background-color: #4055a1;
  border: none;
  color:#ff8011;
}

#form-toggle:hover {
  color: #d9c89b;
}