.new-tweet {
  width: 98%;
  align-self: center;
}

.new-tweet .form .submit-counter{
  display: flex;
  justify-content: space-between;
}

.new-tweet .form textarea {
  border: none;
  border-bottom: 4px solid grey;
  background-color: #f4f1ec;
  outline: none;
  width: 100%;
  height: 48px;
}

.new-tweet .form textarea::placeholder {
  font-weight: bold;
}

.new-tweet button {
  background-color: #4055a1;
  color: #FFFFFF;
  font-family: Bungee, sans-serif;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.new-tweet .counter {
  font-family: Bungee, sans-serif;
}